In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [89]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1575,tt0298148,150000000,919838758,Shrek 2,Mike Myers|Eddie Murphy|Cameron Diaz|Julie And...,Andrew Adamson|Kelly Asbury|Conrad Vernon,Once upon another time...,"Shrek, Fiona and Donkey set off to Far, Far Aw...",93,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks SKG|Pacific Data Images (PDI)|Dream...,5/19/2004,6.5,2004
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
1510,tt0401445,35000000,42064105,A Good Year,Russell Crowe|Marion Cotillard|Albert Finney|T...,Ridley Scott,Everything matures... eventually.,Failed London banker Max Skinner inherits his ...,118,Comedy|Drama|Romance,Fox 2000 Pictures|Scott Free Productions,9/9/2006,6.4,2006
834,tt1334512,40000000,45735397,Arthur,Russell Brand|Helen Mirren|Greta Gerwig|Jennif...,Jason Winer,Meet the world's only loveable billionaire.,A drunken playboy stands to lose a wealthy inh...,110,Comedy|Romance,Warner Bros.,4/8/2011,5.3,2011
1174,tt0318283,30000000,15368897,Alex & Emma,Luke Wilson|Kate Hudson|Sophie Marceau|David P...,Rob Reiner,Is it love... or are they just imagining things?,Writer Alex Sheldon (Luke Wilson) must finish ...,96,Comedy|Romance,Epsilon Motion Pictures|Franchise Pictures|Esc...,6/16/2003,5.0,2003

In [125]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [104]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#Check for Zero-values
data.info()

#change release_date to datetime format
data['release_date'] = pd.to_datetime(data['release_date'])

#Create column for profit value:
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [41]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа

# если ответили верно, можете добавить комментарий со значком "+"

In [105]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides' #'+'

data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,list_dirs,directors,dirs,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,[Rob Marshall],[Rob Marshall],[Rob Marshall],641683000

ВАРИАНТ 2

In [79]:
# можно добавлять разные варианты решения

data.budget.sort_values(ascending = False).head(1)

723    380000000
Name: budget, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [147]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [106]:
answers['2'] = '1157. Gods and Generals (tt0279111)' # "+"

longest_film = data[data.runtime == data.runtime.max()]
longest_film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,list_dirs,directors,dirs,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,[Ronald F. Maxwell],[Ronald F. Maxwell],[Ronald F. Maxwell],-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [107]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' # "+"

shortest_film = data[data.runtime == data.runtime.min()]
shortest_film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,list_dirs,directors,dirs,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,"[Stephen Anderson, Don Hall]","[Stephen Anderson, Don Hall]","[Stephen Anderson, Don Hall]",-15540000

# 4. Какова средняя длительность фильмов?

In [108]:
answers['4'] = '110' # "+"

mean_runtime = data['runtime'].mean()
print(round(mean_runtime))

110

# 5. Каково медианное значение длительности фильмов?

In [109]:
answers['5'] = '107.0'

median_runtime = data['runtime'].median()
median_runtime

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [110]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)' # "+"

max_profit_film = data[data.profit == data.profit.max()]
max_profit_film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,list_dirs,directors,dirs,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,[James Cameron],[James Cameron],[James Cameron],2544505847

# 7. Какой фильм самый убыточный?

In [111]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' # "+"

min_profit_film = data[data.profit == data.profit.min()]
min_profit_film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,list_dirs,directors,dirs,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,[Gore Verbinski],[Gore Verbinski],[Gore Verbinski],-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [112]:
answers['8'] = '1478' # "+"

positive_moneyrate = data[data.revenue > data.budget]['original_title'].count()
display(positive_moneyrate)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [113]:
answers['9'] = '599. The Dark Knight (tt0468569)' # "+"

import datetime as dt

films_2008 = data[data['release_date'].dt.year == 2008]
films_2008[films_2008.revenue == films_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,list_dirs,directors,dirs,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,[Christopher Nolan],[Christopher Nolan],[Christopher Nolan],816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [114]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' # "+"

films_1214 = data[(data['release_date'].dt.year >= 2012) 
                 & (data['release_date'].dt.year <= 2014)]
films_1214[films_1214.profit == films_1214.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,list_dirs,directors,dirs,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,[Gore Verbinski],[Gore Verbinski],[Gore Verbinski],-165710090

# 11. Какого жанра фильмов больше всего?

In [138]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
display(data['genres'].str.split('|').explode().())

5107

ВАРИАНТ 2

In [115]:
answers['11'] = 'Drama' # "+"

display(data['genres'].str.split('|').explode().value_counts())

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [116]:
answers['12'] = 'Drama' # "+"

profitable_films = data[data['profit'] > 0]
display(profitable_films['genres'].str.split('|').explode().value_counts())

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [117]:
answers['13'] = 'Peter Jackson' # "+"

director_revenue = data.groupby(['director'])['revenue'].sum().sort_values(ascending = False)
display(director_revenue)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [118]:
answers['14'] = 'Robert Rodriguez' # "+"
data['dirs'] = data.director.str.split('|')
action_director = data[data.genres.str.contains('Action')][['dirs']]
action_director_exp = action_director.explode('dirs')
action_director_exp.dirs.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Patrick Lussier       1
Andy Tennant          1
Neil Burger           1
Tony Bill             1
Donald Petrie         1
Name: dirs, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [119]:
answers['15'] = 'Chris Hemsworth' # "+"

films_2012 = data[data['release_date'].dt.year == 2012][['cast', 'revenue']]

films_2012['cast'] = films_2012['cast'].apply(lambda spl:spl.split('|'))
films_2012_exp = films_2012.explode('cast')
films_2012_exp.groupby(['cast'])['revenue'].sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [120]:
answers['16'] = 'Matt Damon' # "+"

high_budget = data[data['budget'] > data['budget'].mean()]
high_budget['cast'] = high_budget['cast'].apply(lambda y:y.split('|'))
high_budget_exp = high_budget.explode('cast')
high_budget_exp['cast'].value_counts()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Shannyn Sossamon      1
Mac McDonald          1
Jessica Barth         1
Fionnula Flanagan     1
Jillian Bell          1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [121]:
answers['17'] = 'Action' # "+"

cage_films = data[data.cast.str.contains('Nicolas Cage', na = False)]
cage_films['genres'] = cage_films['genres'].apply(lambda s: s.split('|'))
cage_films_exp = cage_films.explode('genres')
cage_films_exp.genres.value_counts()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
Horror              1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [122]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # "+"

paramount_films = data[data.production_companies.str.contains(
    'Paramount Pictures', na = False)]
paramount_films[paramount_films.profit == paramount_films.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,list_dirs,directors,dirs,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,[Kathryn Bigelow],[Kathryn Bigelow],[Kathryn Bigelow],-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [123]:
answers['19'] = '2015' # "+"

data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [124]:
answers['20'] = '2014' # "+"

warner_films = data[data.production_companies.str.contains(
    'Warner Bros', na = False)]
warner_films.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [125]:
answers['21'] = '9 (September)' # "+"

data_months = data.copy()
data_months['months'] = data.release_date.dt.month
data_months.groupby('months')['original_title'].count().sort_values(ascending = False)

months
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [126]:
answers['22'] = '450' # "+"

summer_films = data[(data.release_date.dt.month >= 6) 
                    & (data.release_date.dt.month <= 8)]
summer_films.original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [127]:
answers['23'] = 'Peter Jackson' # "+"

data['dirs'] = data.director.str.split('|')
data_exp = data.explode('dirs')

winter_films = data_exp[(data_exp.release_date.dt.month == 12) 
                    |(data_exp.release_date.dt.month <= 2)]
winter_films['dirs'].value_counts()

Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Shawn Levy               4
                        ..
Christopher McQuarrie    1
Nicolas Winding Refn     1
Louis Leterrier          1
Seth Rogen               1
J.C. Chandor             1
Name: dirs, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [128]:
answers['24'] = 'Four By Two Productions' 

def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info

data['title_words_length'] = data.original_title.map(lambda x: len(x.split(' ')))

sum_gen=counter(data,'production_companies')

for gen in sum_gen.index:
    sum_gen[gen] = data['title_words_length'][data['production_companies'].map(
        lambda x: True if gen in x else False)].mean()
    
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
display(sum_gen)

                               0
Four By Two Productions       12
Jim Henson Company, The       10
The Saul Zaentz Company        9
Dos Corazones                  9
Polsky Films                   9
...                           ..
Allison Shearmur Productions   1
Electric Entertainment         1
Sideways Productions Inc.      1
Millbrook Farm Productions     1
Huayi Brothers Media           1

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [129]:
answers['25'] = 'Midnight Picture Show' # "+"

data['overview_length'] = data.overview.str.split().apply(len)
data_companies = data.copy()
data_companies['production_companies'] = data['production_companies'].apply(
    lambda x: x.split('|'))
data_companies_exp = data_companies.explode('production_companies')
data_companies_exp.groupby(['production_companies'])[
    'overview_length'].mean().sort_values(ascending = False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [130]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # "+"

data_best = data.copy()
data_best_99 = data_best[data_best.vote_average 
                         > data_best.quantile(0.99, numeric_only=True)['vote_average']]
data_best_99

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,list_dirs,directors,dirs,profit,title_words_length,overview_length
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,[Pete Docter],[Pete Docter],[Pete Docter],678708609,2,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,[Lenny Abrahamson],[Lenny Abrahamson],[Lenny Abrahamson],29401758,1,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,[Christopher Nolan],[Christopher Nolan],[Christopher Nolan],456752480,1,35
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,[James Gunn],[James Gunn],[James Gunn],603312399,4,28
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,[Morten Tyldum],[Morten Tyldum],[Morten Tyldum],219555708,3,46
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,[David Fincher],[David Fincher],[David Fincher],308330363,2,30
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,[Wes Anderson],[Wes Anderson],[Wes Anderson],144600318,4,66
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,[Christopher Nolan],[Christopher Nolan],[Christopher Nolan],665500000,1,44
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,[Christopher Nolan],[Christopher Nolan],[Christopher Nolan],816921825,3,67
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,[Roman Polanski],[Roman Polanski],[Roman Polanski],85072577,2,39
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,[Peter Jackson],[Peter Jackson],[Peter Jackson],1024888979,10,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,[Martin Scorsese],[Martin Scorsese],[Martin Scorsese],292000694,5,29
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,[Steve McQueen],[Steve McQueen],[Steve McQueen],167000000,4,61
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,[Christopher Nolan],[Christopher Nolan],[Christopher Nolan],30723096,1,78

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [131]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # "+"

from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]

for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
        
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Emma Watson Rupert Grint            8
Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Helena Bonham Carter Johnny Depp    6
Ben Stiller Owen Wilson             6
Adam Sandler Kevin James            5
Robert Pattinson Taylor Lautner     5
Paul Walker Vin Diesel              5
Hugh Jackman Ian McKellen           5
Kristen Stewart Robert Pattinson    5
Name: actor_combinations, dtype: int64

# Submission

In [132]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107.0',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9 (September)',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [133]:
# и убедиться что ни чего не пропустил)
len(answers)

27